body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eee;
}

main {
  border: 1px solid #efefef;
  width: 50%;
  background-color: #fff;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.todo {
  display: flex;
  border: 1px solid #eee;
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
}

.todo_right {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex: 1;
}

.add_todo {
  width: 100%;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 1px solid #eee;
  font-style: italic;
  font-size: 1.2rem;
}

.add_todo:focus {
  outline: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.header h1 {
  font-size: 1.4rem;
  font-weight: 900;
  color: rgb(99, 98, 98);
}

.todo_title {
  margin: 0;
  color: rgb(41, 40, 40);
  font-weight: 400;
  width: 100%;
  border: none;
  flex: 1;
  height: max-content;
  background-color: inherit;
  padding: 10px 5px;
  font-size: 1.3rem;
}

.todo_form {
  flex: 1;
}

.todo_title:focus {
  outline: none;
}

.checkbox {
  height: 1.5rem;
  width: 1.5rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.options {
  content: '\2807';
  font-size: 100px;
}

#delete_icon {
  cursor: pointer;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  font-size: 1.1rem;
  color: gray;
  cursor: pointer;
}

.material-symbols-outlined {
  font-size: 2rem;
  color: gray;
}

.header .material-symbols-outlined {
  cursor: pointer;
}

.over {
  border: 3px dotted #666;
}
